/**
 * Base styling.
 */

html {
    font-size: 62.5%;
}

body {
    font-family: @font;
    font-weight: 400;
    .font-size(16);
    color: @text;
    line-height: 1.5;

    @media @breakpoint-medium {
        .font-size(18);
    }
}

img {
    max-width: 100%;
}
