/**
 * Site buttons styling.
 */

.button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    vertical-align: middle;
    padding: 8px 24px;
    border-radius: @border-radius;
    transition: background-color ease 0.1s, color ease 0.1s;

    // Speed up button taps on mobile.
    touch-action: manipulation;
    // User can't select buttons.
    user-select: none;

    @media @breakpoint-medium {
        // Stop button content wrapping on desktop devices.
        white-space: nowrap;
    }

    // Button variations.
    &.button-primary {
        color: @white;
        background-color: @primary;

        &:hover {
            background-color: darken(@primary, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @primary;

            &:hover {
                color: @white;
                background-color: @primary;
            }
        }
    }
    &.button-secondary {
        color: @white;
        background-color: @secondary;

        &:hover {
            background-color: darken(@secondary, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @secondary;

            &:hover {
                color: @white;
                background-color: @secondary;
            }
        }
    }
    &.button-light-grey {
        color: @text;
        background-color: @grey;

        &:hover {
            background-color: darken(@grey, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @grey;

            &:hover {
                color: @text;
                background-color: @grey;
            }
        }
    }
    &.button-grey {
        color: @white;
        background-color: @grey;

        &:hover {
            background-color: darken(@grey, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @grey;

            &:hover {
                color: @white;
                background-color: @grey;
            }
        }
    }
    &.button-text {
        color: @white;
        background-color: @text;

        &:hover {
            background-color: darken(@text, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @text;

            &:hover {
                color: @white;
                background-color: @text;
            }
        }
    }
    &.button-white {
        color: @text;
        background-color: @white;

        &:hover {
            background-color: darken(@white, 5);
        }

        &.button-flat, &.button-flat-alt {
            background-color: transparent;
            color: @white;

            &:hover {
                color: @text;
                background-color: @white;
            }
        }
    }

    &.button-flat-alt, &.button-normal-alt {
        svg {
            order: -1;

            margin: 0 5px 0 0;

            @media @breakpoint-medium {
                margin: 0 15px 0 0;
            }
        }
    }

    svg {
        margin: 0 0 0 5px;

        @media @breakpoint-medium {
            margin: 0 0 0 15px;
        }
    }
}
