/**
 * Site mixins.
 */

// Site width wrapper.
.wrapper {
    max-width: @container-width;
    width: 100%;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
}
// Max text width wrapper.
.text-wrapper {
    max-width: @text-container-width;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// Common flex layouts.
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-between-stretch {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-stretch {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
// Equal spacing for flex children. Also a fix for the flex horizontal overflow bug in IE.
.flex-space-children {
    width: 100%;
    max-width: 100%;
    flex-shrink: 1;
}


// Rem font size with px fallback.
.font-size(@px) {
    @rem: (@px / 10);
    font-size: ~"@{px}px";
    font-size: ~"@{rem}rem";
}


// Translucent cover for background images.
.bk-image-cover {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: @bk-image-shadow;
    }
}

// List item bullet styling.
.ul-items {
    li {
        position: relative;
        padding-left: 30px;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 8px;
            left: 0;
            height: 12px;
            width: 12px;
            background-color: @primary;
            border-radius: 50%;
        }
    }
}
.ol-items {
    counter-reset: ollist;

    li {
        position: relative;
        padding-left: 30px;

        &:before {
            counter-increment: ollist;
            content: counters(ollist, '.');
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            color: @primary;
            font-size: 22px;
            font-weight: bold;
        }
    }
}