/**
 * Default mobile and desktop menu styling.
 */

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                display: inline-block;
                color: @text-light;

                @media @breakpoint-medium {
                    display: block;
                }
            }
        }
    }

    > ul {
        > li {
            display: block;
            position: relative;
            text-align: right;
            padding: 10px 20px;

            @media @breakpoint-medium {
                display: inline-block;
                text-align: left;
                padding: 0;
            }

            &.menu-item-has-children {
                padding-right: 35px;

                // Show the sub menu on toggle/hover.
                &.toggled {
                    > .sub-menu {
                        display: block;
                    }
                }

                @media @breakpoint-medium {
                    padding-right: 0;

                    // Can't toggle menu on desktop, hover only.
                    &.toggled {
                        > .sub-menu {
                            display: none;
                        }
                    }
                    // Hover only to show sub menu's on desktop.
                    &:hover {

                        > .sub-menu {
                            //display: block;
                        }
                    }
                }

                // Mobile only dropdown button.
                &:before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    background-color: darken(@white, 10);

                    &:hover {
                        cursor: pointer;
                    }

                    @media @breakpoint-medium {
                        display: none;
                    }
                }
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 6px 0 6px;
                    border-color: @primary transparent transparent transparent;

                    position: absolute;
                    top: 19px;
                    right: 6px;

                    @media @breakpoint-medium {
                        display: none;
                    }
                }
            }

            > a {
                @media @breakpoint-medium {
                    text-align: center;
                    padding: 15px 10px;
                }
            }
            .sub-menu {
                display: none;

                @media @breakpoint-medium {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    min-width: 200px;
                    z-index: 9999;
                    box-sizing: border-box;
                }

                > li {
                    position: relative;
                    padding: 5px 0;

                    @media @breakpoint-medium {
                        padding: 0;
                    }

                    &.menu-item-has-children {
                        // Show the sub menu on toggle/hover.
                        &.toggled {
                            > .sub-menu {
                                display: block;
                            }
                        }

                        @media @breakpoint-medium {
                            // Can't toggle menu on desktop, hover only.
                            &.toggled {
                                > .sub-menu {
                                    display: none;
                                }
                            }
                            // Hover only to show sub menu's on desktop.
                            &:hover {
                                > .sub-menu {
                                    //display: block;
                                }
                            }
                        }
                    }

                    > a {
                        @media @breakpoint-medium {
                            padding: 12px 15px;
                        }
                    }
                    > .sub-menu {
                        display: block;

                        @media @breakpoint-medium {
                            display: none;
                            top: 0;
                            left: 100%;
                        }
                    }
                }
            }
        }
    }
}
