/**
 * Site typography styling.
 */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    color: @white;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;

    @media @breakpoint-medium {
        font-size: 54px;
        line-height: 1.1;
    }
}
h2 {
    color: @text;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    @media @breakpoint-medium {
        font-size: 40px;
        line-height: 1.1;
    }
}
h3 {
    .font-size(24);
    line-height: 1.3;
}
h4 {
    .font-size(18);
    line-height: 1.4;
}
h5 {
    .font-size(16);
    line-height: 1.5;
}
h6 {
    .font-size(14);
    line-height: 1.5;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: @text;
}
