// Site and text container widths.
@container-width: 1200px;
@text-container-width: 650px;

// Breakpoints.
@breakpoint-small: ~'only screen and (min-width: 500px)';
@breakpoint-medium: ~'only screen and (min-width: 768px)';
@breakpoint-large: ~'only screen and (min-width: 992px)';
@breakpoint-xlarge: ~'only screen and (min-width: 1300px)';

// Fonts.
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600.css');
@font: 'Barlow', sans-serif;

// Colours.
@white: #ffffff;
@black: #000000;

@primary: #55bfaf;
@secondary: #55bfaf;
//@secondary: #272e5a;

@grey-light: #f3f5f6;
@grey: #c5ccd3;
@grey-dark: #8b99a7;

@text: #4A4A4A;
@text-light: #8F8F8F;

// Misc.
@border-radius: 0;
@box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
@bk-image-shadow: rgba(0, 0, 0, 0.4); //linear-gradient(179.63deg, rgba(39, 46, 90, 0.6) 0%, rgba(85, 191, 175, 0.5) 100%);