.accordion {
    .wrapper {
        > .written {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        .item {
            background-color: @grey-light;
            transition: background-color 0.15s ease;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &.toggled {
                h3 {
                    .fa-chevron-down {
                        display: none;
                    }
                    .fa-chevron-up {
                        display: block;
                    }
                }
                .written {
                    display: block;
                }
            }
            &:not(.toggled):hover {
                background-color: #e3e5e6;
            }

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 20px;
                cursor: pointer;

                span {
                    font-size: 18px;
                    margin-right: 20px;
                }
                svg {
                    font-size: 14px;
                }
                .fa-chevron-up {
                    display: none;
                }
            }
            .written {
                display: none;
                padding: 0 20px 15px 20px;
            }
        }
    }
}