.banner {
    position: relative;
    background-color: #b5b5b5;

    &.banner-breadcrumbs {
        margin-bottom: 0;
    }
    // Display banner at roughly correct height while Owl Carousel loads, stops page jumping.
    &.banner-loading {
        display: block !important;
        overflow: hidden;
        height: 400px;

        @media @breakpoint-medium {
            &.banner-large {
                height: 600px;
            }
            &.banner-medium {
                height: 500px;
            }
            &.banner-small {
                height: 400px;
            }
        }
    }
    // No banner controls visible.
    &.no-controls {
        .owl-nav {
            display: none;
        }
    }

    &.banner-large {
        // One slide has no Owl Carousel, so no controls. Just account for overlapping navigation.
        .item {
            padding: 60px 0;

            @media @breakpoint-medium {
                padding: 200px 0 165px 0;
            }
        }

        // Account for Owl Carousel controls.
        &.owl-carousel {
            .item {
                padding: 60px 0 104px 0;

                @media @breakpoint-medium {
                    padding: 170px 0 193px 0;
                }
            }
        }
    }
    &.banner-medium {
        .item {
            padding: 60px 0;

            @media @breakpoint-medium {
                padding: 165px 0 130px 0;
            }
        }

        // Account for Owl Carousel controls.
        &.owl-carousel {
            .item {
                padding: 60px 0 104px 0;

                @media @breakpoint-medium {
                    padding: 135px 0 148px 0;
                }
            }
        }
    }
    &.banner-small {
        .item {
            padding: 60px 0;

            @media @breakpoint-medium {
                padding: 135px 0 100px 0;
            }
        }

        // Account for Owl Carousel controls.
        &.owl-carousel {
            .item {
                padding: 60px 0 104px 0;

                @media @breakpoint-medium {
                    padding: 105px 0 128px 0;
                }
            }
        }
    }

    .item {
        .bk-image-cover;
        box-sizing: border-box;

        .wrapper {
            position: relative;

            h1, p {
                color: @white;
                margin: 0;
                max-width: 750px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            .headline {
                font-size: 26px;
                font-weight: bold;
                line-height: 1.2;

                @media @breakpoint-medium {
                    font-size: 40px;
                }
            }
            .content {
                font-size: 16px;
                line-height: 1.5;
                font-weight: 300;

                @media @breakpoint-medium {
                    font-size: 20px;
                }
            }
            .buttons {
                .button {
                    font-size: 16px;
                    font-weight: 300;
                    padding: 12px 45px;

                    @media @breakpoint-medium {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .owl-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 20px;
        background-color: @white;
        padding: 10px 20px;

        @media @breakpoint-medium {
            padding: 15px 20px;
        }

        // Absolute position aligned with wrapper.
        @media only screen and (min-width: @container-width) {
            left: 50%;
            // Half the wrapper width, accounting for wrapper padding.
            transform: translateX((((@container-width / 2) - 20) * -1));
        }

        svg {
            color: @text-light;
            font-size: 16px;
        }
        span {
            width: 50px;
            font-size: 22px;
            text-align: center;
            line-height: 1;
            padding: 0 10px;

            @media @breakpoint-medium {
                width: 60px;
                font-size: 28px;
            }
        }
    }
}

.breadcrumb {
    margin: 0;
    background-color: @grey-light;

    .wrapper {
        padding: 20px;

        @media @breakpoint-small {
            .flex-between-center;
            padding: 30px 20px;
        }
    }
    .crumbs {
        &:not(:last-child) {
            margin-bottom: 20px;
            margin: 0 0 20px 0;

            @media @breakpoint-small {
                margin: 0 20px 0 0;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;

            li, li a {
                line-height: 1.2;
                font-size: 16px;
                color: @text;

                &.current {
                    font-weight: bold;
                    color: @primary;
                }
                &.separator {
                    margin: 0 20px;

                    svg {
                        font-size: 16px;
                        color: @text-light;
                    }
                }
            }
            li {
                display: inline-block;
                float: left;
            }
            li a {
                transition: color ease 0.15s;

                &:hover {
                    color: @text-light;
                }
            }
        }
    }
    .social {
        a {
            font-size: 20px;
            color: @text-light;
            transition: color ease 0.15s;

            &:not(:last-child) {
                margin-right: 10px;
            }
            &:hover {
                color: @text;
            }
        }
    }
}