.cards {
    .written {
        margin-bottom: 30px;

        @media @breakpoint-medium {
            margin-bottom: 60px;
        }
    }
    .cards-wrapper {
        display: block;

        @media @breakpoint-small {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
        @media @breakpoint-large {
            grid-template-columns: repeat(3, 1fr);
        }

        .card {
            box-shadow: @box-shadow;
            overflow: hidden;

            &:not(:last-child) {
                margin: 0 0 20px 0;
            }

            @media @breakpoint-small {
                display: grid;
                grid-column: span 1;
                grid-row: span 1;

                &:not(:last-child) {
                    margin: 0;
                }

                // Cards are default 1x1, double height are 1x2.
                &.card-double {
                    grid-template-rows: repeat(2, 1fr);
                    grid-column: span 1;
                    grid-row: span 2;

                    &.card-halfimg {
                        .halfimg {
                            height: 100%;
                            min-height: 0;
                        }
                    }

                    .card-inner {
                        align-self: end;
                    }
                }
            }

            &:hover {
                .bkimg {
                    transform: scale(1.1);
                    filter: blur(2px);
                }
                .halfimg {
                    transform: scale(1.1);
                }
            }

            // Background image card styling.
            &.card-bkimg {
                .bk-image-cover;

                &:before {
                    z-index: 9;
                }
                .bkimg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 8;
                    background-size: cover;
                    background-position: 50% 50%;
                    background-color: @grey-light;
                    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), filter 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .card-inner {
                    z-index: 10;
                }
            }
            // Half image card styling.
            &.card-halfimg {
                @media @breakpoint-medium {
                    grid-template-rows: 240px 1fr;
                }

                >a {
                    overflow: hidden;
                }
                .halfimg {
                    background-size: cover;
                    background-position: 50% 50%;
                    background-color: @grey-light;
                    min-height: 150px;
                    height: 100%;
                    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .halfimg + .card-inner {
                    align-self: end;
                }
                .card-inner {
                    h3 {
                        color: @primary;
                        font-weight: 400;
                    }
                    .eyebrow, .content {
                        color: @text;
                    }
                }
            }
            &.card-noimg {
                .card-inner {
                    h3 {
                        color: @white;
                    }
                    .eyebrow, .content {
                        color: @white;
                    }
                }
            }
            &.card-noimg-light {
                .card-inner {
                    h3 {
                        color: @primary;
                    }
                    .eyebrow, .content {
                        color: @text;
                    }
                }
            }

            // Default card styling.
            .card-inner {
                position: relative;
                padding: 25px 30px 30px 30px;

                // All inner element styling.
                .eyebrow, > a, h3, .content {
                    color: @white;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    b {
                        color: @primary;
                    }
                }
                > a:not(.button) {
                    display: block;

                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
                .content {
                    font-weight: 300;
                }
                // Button overrides.
                .buttons {
                    .button {
                        &.button-flat {
                            padding: 0;

                            //flat buttons shouldn't highlight in cards.
                            &:hover {
                                background-color: transparent;

                                // Need to override hover colour for all variants.
                                &.button-primary {
                                    color: @primary;
                                }
                                &.button-secondary {
                                    color: @secondary;
                                }
                                &.button-white {
                                    color: @white;
                                }
                                &.button-text {
                                    color: @text;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-cssgrid {
    .cards {
        .cards-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;

            > .card {
                .flex-space-children;
                margin: 0 0 20px 0;
                box-sizing: border-box;

                @media @breakpoint-medium {
                    width: ~"calc(50% - 10px)";
                    margin: 0 20px 20px 0;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }

                @media @breakpoint-large {
                    width: ~"calc(33.33% - 13.34px)";
                    margin: 0 20px 20px 0;

                    &:nth-child(2n) {
                        margin-right: 20px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }

                a {
                    .inner {
                        .title, .price {
                            max-width: 100%;
                            flex-shrink: 1;
                        }
                    }
                }
            }
        }
    }
}
