.count-up {
    .bk-image-cover;
    padding: 45px 0;
    margin: 60px 0;

    @media @breakpoint-medium {
        padding: 100px 0;
    }

    .wrapper {
        position: relative;

        .stats {
            text-align: center;

            @media @breakpoint-medium {
                .flex-between-start;
            }

            .stat {
                .flex-space-children;

                &:not(:last-child) {
                    margin: 0 0 15px 0;

                    @media @breakpoint-medium {
                        margin: 0 30px 0 0;
                    }
                }

                .value-container {
                    white-space: nowrap;
                    margin-bottom: 5px;

                    @media @breakpoint-medium {
                        margin-bottom: 10px;
                    }

                    span {
                        display: inline-block;
                        color: @white;
                        line-height: 1;
                    }
                    .prefix, .suffix {
                        font-size: 40px;

                        @media @breakpoint-medium {
                            font-size: 50px;
                        }
                    }
                    .value {
                        font-size: 55px;
                        font-weight: 600;

                        @media @breakpoint-medium {
                            font-size: 70px;
                        }
                    }
                }
                .label {
                    color: @white;
                    font-size: 16px;
                    text-align: center;
                    font-weight: 300;

                    @media @breakpoint-medium {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}