footer {
    // All sections wrapper.
    .wrapper {
        @media @breakpoint-medium {
            .flex-between-center;
        }
    }
    .top {
        background-color: @grey-light;
        padding: 30px 0;
        overflow: hidden;

        @media @breakpoint-medium {
            padding: 60px 0;
        }

        .wrapper {
            align-items: flex-start;
        }
        // Top section title.
        .title {
            color: @text;
            font-size: 18px;
            margin-bottom: 15px;

            @media @breakpoint-medium {
                font-size: 24px;
            }
        }
        // Newsletter container.
        .newsletter {
            position: relative;
            flex: 1;

            @media @breakpoint-medium {
                margin-right: 50px;
            }
            @media @breakpoint-large {
                margin-right: 85px;
            }

            img {
                position: absolute;
                left: 0;
                top: -45px;
            }
            .email-container {
                .nf-field-element {
                    input {
                        background-color: @white !important;
                        border: none !important;

                        &::-webkit-input-placeholder {
                            color: #CFD4D3 !important;
                        }
                        &:-moz-placeholder {
                            color: #CFD4D3 !important;
                        }
                        &::-moz-placeholder {
                            color: #CFD4D3 !important;
                        }
                        &:-ms-input-placeholder {
                            color: #CFD4D3 !important;
                        }
                        &::-ms-input-placeholder {
                            color: #CFD4D3 !important;
                        }
                        &::placeholder {
                            color: #CFD4D3 !important;
                        }
                    }
                }
            }
            // Checkbox container.
            .checkbox-container {
                // 100% width - button width (and some extra for padding).
                width: calc(100% - 120px);

                .nf-field-label {
                    width: 100%;

                    .ninja-forms-req-symbol {
                        display: none;
                    }
                }
                .nf-field-element {
                    width: auto;
                    line-height: 1;
                    padding-top: 1px;
                }
                input {
                    width: 16px;
                    height: 16px;
                }
                label {
                    color: @text;
                    font-size: 16px;
                    font-weight: 300;
                }
                .nf-after-field {
                    .nf-error-msg {
                        text-align: left !important;
                    }
                }
            }
            // Submit button container.
            .submit-container {
                position: absolute;
                top: 106px;
                right: 0;
                margin: 0;

                @media @breakpoint-medium {
                    top: 115px;
                }

                input {
                    .button;
                    .button-primary;
                    padding: 10px 20px !important;
                    border: none;
                }
            }
        }
        // Social icons.
        .social {
            flex: 1;

            a, span {
                display: inline-block;
                color: @grey;
                font-size: 25px;
                transition: color ease 0.15s;

                &:hover {
                    color: @secondary;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }

                @media @breakpoint-small {
                    font-size: 30px;

                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .middle {
        background-color: @primary;
        text-align: center;
        padding: 30px 0;

        @media @breakpoint-medium {
            text-align: left;
            padding: 60px 0;
        }

        // Website logo container.
        .site-logo {
            flex: 1;

            a {
                display: inline-block;

                img {
                    display: block;
                    width: 100%;
                    max-width: 200px;

                    @media @breakpoint-medium {
                        max-width: 250px;
                    }
                }
            }
            .copyright {
                color: @white;
                font-size: 14px;
                padding: 20px 0;
            }
        }
        // Footer menu.
        .footer-menu {
            flex: 1;

            ul {
                @media @breakpoint-medium {
                    column-count: 2;
                }

                &.sub-menu {
                    display: none !important;
                }

                li {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    @media @breakpoint-medium {
                        text-align: left;
                    }

                    &:before, &:after {
                        content: none;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    a {
                        display: inline-block;
                        color: @white;
                        text-align: left;
                        line-height: 1.25;
                        padding: 0;
                        transition: color ease 0.15s;

                        &:hover {
                            background-color: transparent;
                            text-decoration: underline;
                        }
                        &:before, &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    .bottom {
        background-color: darken(@primary, 6);
        text-align: center;
        padding: 20px 0;

        // Bottom footer bar content.
        p, a {
            display: inline-block;
            color: @white;
            font-size: 14px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            @media @breakpoint-medium {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
        // Website by EMC.
        .emc {
            &:hover {
                span {
                    color: #55bfaf;
                }
            }

            span {
                transition: color ease 0.15s;
            }
        }
    }
}