header {
    position: relative;
    z-index: 999;

    + .banner {
        margin-top: 0;

        @media @breakpoint-medium {
            margin-top: -35px;
        }
    }

    > .wrapper {
        @media @breakpoint-medium {
            display: flex;
            flex-wrap: wrap;

            .top {
                order: 2;
                width: 100%;
                max-width: 60%;
                flex-shrink: 1;
            }
            .main-nav {
                order: 3;
                width: 100%;
                max-width: 100%;
                flex-shrink: 1;
            }
            .site-logo {
                order: 1;
                width: 100%;
                max-width: 40%;
                flex-shrink: 1;
            }
        }
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        @media @breakpoint-medium {
            justify-content: flex-end;
            padding: 0;
        }

        // Social icons.
        .social {
            display: none;
            align-items: center;
            justify-content: space-between;

            @media screen and (min-width: 300px) {
                display: flex;
            }
            @media @breakpoint-medium {
                margin-right: 45px;
            }
            @media @breakpoint-large {
                margin-right: 60px;
            }

            a {
                display: block;
                color: @grey;
                font-size: 16px;
                line-height: 1;
                padding: 0;
                transition: color ease 0.15s;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &:hover {
                    color: @primary;
                }

                @media screen and (min-width: 400px) {
                    font-size: 22px;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
        .misc {
            width: 100%;
            text-align: left;

            @media screen and (min-width: 300px) {
                text-align: right;
            }
            @media @breakpoint-medium {
                width: auto;
            }

            .phone {
                color: @text;
                margin-right: 20px;

                svg {
                    color: @grey;
                    font-size: 22px;
                }
                span {
                    display: none;
                }

                @media @breakpoint-medium {
                    font-size: 26px;
                    margin-right: 0;

                    svg {
                        color: @primary;
                        font-size: 26px;
                        margin-right: 12px;
                    }
                    span {
                        display: inline-block;
                    }
                }
                @media @breakpoint-large {
                    font-size: 30px;
                }
            }
            .toggle-search {
                font-size: 22px;
                margin-right: 20px;

                @media @breakpoint-medium {
                    display: none;
                }

                svg {
                    color: @grey;
                }
            }
            .burger {
                font-size: 22px;
                float: right;

                @media screen and (min-width: 300px) {
                    float: none;
                }
                @media @breakpoint-medium {
                    display: none;
                }

                svg {
                    color: @grey;
                }
            }
        }
    }
    .main-nav {
        position: relative;
        background-color: @primary;
        padding: 0 20px;
        margin: 0 -20px;
        transition: box-shadow 0.15s ease;

        @media @breakpoint-medium {
            background-color: transparent;
            padding: 0;
            margin: 0;
        }

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: @box-shadow;

            .wrapper {
                padding: 0 20px;

                .main-menu {
                    &:before {
                        width: 100vw;
                        max-width: 100vw;
                    }
                }
            }
        }

        .wrapper {
            padding: 0;
        }
        // Search form container.
        .search-form {
            display: none;
            align-items: stretch;
            justify-content: space-between;
            background-color: darken(@primary, 6);
            height: 60px;
            margin: 0 -20px;

            @media @breakpoint-medium {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999;
                width: 0%;
                height: 100%;
                margin: 0;
                overflow: hidden;
                transition: width 0.15s ease;
            }

            &.toggled {
                display: flex;

                @media @breakpoint-medium {
                    width: 100%;
                }
            }

            // Buttons.
            a {
                .flex-space-children;
                .flex-center-center;
                width: 75px;
                color: @white;
                transition: background-color ease 0.15s;

                @media @breakpoint-medium {
                    width: 90px;
                    min-width: 90px;
                }

                &:hover {
                    background-color: darken(@primary, 4);
                }
            }
            // Input box.
            input {
                .flex-space-children;
                background-color: transparent;
                border: none;
                color: @white;
                padding: 0;

                @media @breakpoint-medium {
                    padding: 0 15px;
                }

                &::-webkit-input-placeholder {
                    color: @white;
                }
                &::-moz-placeholder {
                    color: @white;
                }
                &:-ms-input-placeholder {
                    color: @white;
                }
                &:-moz-placeholder {
                    color: @white;
                }
            }
        }
        .main-menu {
            display: none;
            background-color: @primary;

            @media @breakpoint-medium {
                display: block;
            }

            &.toggled {
                display: block;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: calc(@container-width - 40px);
                max-width: calc(100vw - 40px);
                height: 100%;
                background-color: @primary;
                transition: width 0.1s ease;
            }

            > ul {
                position: relative;
                z-index: 9;

                @media @breakpoint-medium {
                    .flex-between-center;
                    padding-right: 90px;
                }

                > li {
                    .flex-space-children;

                    @media @breakpoint-medium {
                        &:hover {
                            // Darken the background of the menu item.
                            background-color: darken(@primary, 6);

                            a {
                                background-color: darken(@primary, 6);
                            }

                            > .sub-menu {
                                transform: none;
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }

                        .sub-menu {
                            // Darken the background of the sub-menu.
                            background-color: darken(@primary, 6);

                            display: block;
                            transition: transform 0.15s ease, opacity 0.15s ease;
                            transform: translateY(-40px);
                            opacity: 0;
                            pointer-events: none;

                            li {
                                &.menu-item-has-children {
                                    // Darken the background of the sub-sub-menu items.
                                    &:hover {
                                        background-color: darken(@primary, 10);

                                        a {
                                            background-color: darken(@primary, 10);

                                            &:hover {
                                                background-color: darken(@primary, 14);
                                            }
                                        }
                                    }
                                }
                                // Darken the background of the sub-menu item.
                                &:hover {
                                    background-color: darken(@primary, 10);

                                    a {
                                        background-color: darken(@primary, 10);
                                    }
                                }
                            }
                        }
                    }

                    a {
                        color: @white;

                        @media @breakpoint-medium {
                            padding: 20px 10px;
                        }
                    }
                }
                .menu-item.search-button-container {
                    display: none;

                    @media @breakpoint-medium {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 90px !important;
                    }
                }
            }
        }
    }
    .site-logo {
        text-align: center;
        padding: 20px 0;

        @media @breakpoint-medium {
            text-align: left;
            padding-left: 0;
        }

        a {
            display: inline-block;

            img {
                display: block;
                width: 100%;
                max-width: 200px;

                @media @breakpoint-medium {
                    max-width: 250px;
                }
            }
        }
    }
}