.logo-carousel {
    .wrapper {
        .written {
            &:not(:last-child) {
                margin-bottom: 20px;

                @media @breakpoint-large {
                    margin-bottom: 45px;
                }
            }
        }
        .logos {
            .logo {
                text-align: center;

                a {
                    display: inline-block;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 250px;
                    max-height: 125px;
                    margin: auto;
                }
            }
        }
    }
}