.breadcrumb + .page-content {
    @media @breakpoint-medium {
    margin: 50px 0;
    }
}
.page-content {
    > .wrapper {
        @media @breakpoint-medium {
            .flex-start-start;
        }

        .sidebar {
            @media @breakpoint-medium {
                .flex-space-children;
                order: 1;
                max-width: 300px;
                margin-right: 20px;

                &.sticky {
                    position: sticky;
                    top: 100px;
                }
            }

            .sidebar-menu {
                background-color: @grey-light;
                list-style: none;
                padding: 20px;
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                li {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    &.sidebar-title {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    a {
                        color: @text-light;
                        transition: color ease 0.15s;

                        &:hover {
                            color: @text;
                        }
                    }
                }
            }
            .sidebar-contact {
                .card {
                    padding: 20px;

                    &.card-primary, &.card-secondary, &.card-image {
                        h2, h3, p, li {
                            color: @white;

                            &:not(:last-child) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                    &.card-primary {
                        background-color: @primary;
                    }
                    &.card-secondary {
                        background-color: @secondary;
                    }
                    &.card-image {
                        .bk-image-cover;

                        * {
                            position: relative;
                        }
                    }
                }
            }
        }
        .content {
            margin-bottom: 20px;

            @media @breakpoint-medium {
                .flex-space-children;
                order: 2;
                margin-bottom: 0;
            }

            > div {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            .written {
            }
            .two-column {
                .wrapper {
                    align-items: flex-start;
                    padding: 0;

                    .tc-container-right {
                        background-color: @grey-light;
                        padding: 30px 40px;

                        &.sticky {
                            position: sticky;
                            top: 100px;
                        }

                        .contact-box {
                            p {
                                word-break: break-all;

                                span {
                                    color: @primary;
                                    font-size: 14px;
                                }
                                a {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}