.two-column {
    &.visible {
        .written:first-child {
            @apply translate-x-0;
        }
        .written:last-child {
            @apply translate-x-0;
        }
    }
}

// .less-two-column {
//     &.visible {
//         .less-column-left {
//             transform: translateX(0%);
//             opacity: 1;
//         }
//         .less-column-right {
//             transform: translateX(0%);
//             opacity: 1;
//         }
//     }
//
//     .less-column-left {
//         transform: translateX(-100%);
//         opacity: 0;
//     }
//     .less-column-right {
//         transform: translateX(100%);
//         opacity: 0;
//     }
//
//     .less-column-left, .less-column-right {
//         img {
//             @apply block shadow-md;
//         }
//     }
// }

/*
.two-column {
    &:not(.no-animation) {
        overflow: hidden;
        padding-bottom: 10px;
        margin-bottom: 20px;

        @media @breakpoint-medium {
            margin-bottom: 90px;
        }

        .tc-container {
            &.tc-container-left {
                transform: translateX(-100%);
                opacity: 0;
            }
            &.tc-container-right {
                transform: translateX(100%);
                opacity: 0;
            }
        }
    }

    &.visible {
        .tc-container {
            &.tc-container-left {
                transform: translateX(0%);
                opacity: 1;
            }
            &.tc-container-right {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }

    .wrapper {
        @media @breakpoint-medium {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tc-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        flex-shrink: 1;
        transition: transform 0.5s ease, opacity 0.5s ease;

        &:not(:last-child) {
            margin: 0 0 15px 0;

            @media @breakpoint-medium {
                margin: 0 30px 0 0;
            }
        }

        img {
            display: block;
            position: relative;
            z-index: 999;
            box-shadow: @box-shadow;
        }
    }
}
 */