/**
 * Theme Name: ExtraMile Communications WordPress Theme
 * Theme URI: https://www.extramilecommunications.com
 * Author: ExtraMile Dev Squad
 * Author URI: https://www.extramilecommunications.com/about-us/meet-the-team/meet-the-developers
 * Description: The base theme template for ExtraMile
 * Version: 1.0.0
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/_tailwind';

// Third party.
@import (less) '../../node_modules/tiny-slider/dist/tiny-slider.css';
// @import (less) '../../node_modules/animate.css/animate.css';

// Default styling for buttons/text/navigation etc.
@import './partials/_variables';
@import './partials/_mixins';
@import './partials/_base';
// @import './partials/_typography';
// @import './partials/_buttons';
// @import './partials/_navigation';

// Default styling for each section required on the website.
// @import './sections/header';
// @import './sections/banner';
// @import './sections/cards';
// @import './sections/page-content';
// @import './sections/two-column';
// @import './sections/count-up';
// @import './sections/logo-carousel';
// @import './sections/accordion';
// @import './sections/footer';


/**
 * Custom styling and overrides.
 */

* {
    box-sizing: border-box;
}

// Default section spacing.
section {
    margin: 30px auto;

    @media @breakpoint-medium {
        margin: 100px auto;
    }
}

// Written text general styling.
.written {
    h2, p, ul, ol {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    li {
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    .eyebrow {
        color: @text-light;
        font-size: 14px;
        letter-spacing: 1px;
    }
    h2 {
        font-size: 28px;
        color: @primary;

        @media @breakpoint-medium {
            font-size: 34px;
        }

        b {
            color: @secondary;
            //font-weight: 400;
        }
    }
    p {
        font-weight: 300;

        b {
            color: @primary;
            font-weight: 400;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .ul-items;
    }
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
        .ol-items;
    }
}



.iframe-container {
    position: relative;
    padding-top: 50%;

    @media @breakpoint-medium {
        padding-top: 35%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



.home {
    .cards-rows + .cards-rows {
        background-color: #f3f3f3;
        padding: 60px 0 30px 0;
        margin: -60px auto 0 auto;

        @media @breakpoint-medium {
            padding: 200px 0 100px 0;
            margin: -200px auto 0 auto;
        }
    }
}


.sidebar {
    .sidebar-title {
        &:before {
            content: 'Sidebar Menu';
        }
    }
}


.nf-form-cont {
    .nf-form-title {
        display: none;
    }
    .nf-form-wrap {
        .nf-debug-msg,
        .nf-before-form,
        .nf-after-form {
            display: none;
        }

        .nf-form-layout {
            .nf-before-form-content {
                display: none;
            }
            .nf-form-content {
                .nf-field-container {
                    &.checkbox-container {
                        .nf-field {
                            .field-wrap {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .nf-field-label {
                                    display: block;
                                    line-height: 1.25;
                                    padding: 0;
                                    margin: 0;

                                    label {
                                        font-size: 16px;
                                        font-weight: 300;
                                        line-height: 1.25;

                                        a {
                                            color: @primary;
                                            transition: color 0.15s ease;

                                            &:hover {
                                                color: darken(@primary, 4);
                                            }
                                        }
                                    }
                                }
                                .nf-field-element {
                                    margin-right: 10px;

                                    input {
                                        padding: 0 !important;
                                    }
                                }
                            }
                        }
                        .nf-after-field {
                            width: 100%;

                            .nf-error-msg {
                                text-align: center;
                            }
                        }
                    }
                    &.recaptcha-container {
                        .nf-field-label {
                            display: none;
                        }
                        .g-recaptcha > div {
                            margin: auto;
                        }
                    }
                    &.submit-container {
                        .nf-field {
                            .field-wrap {
                                .nf-field-element {
                                    text-align: center;

                                    input {
                                        .button;
                                        .button-primary;
                                        border: none;
                                        padding: 15px 60px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    .nf-field {
                        .nf-field-label {
                            margin-bottom: 5px;

                            label {
                                font-size: 16px;
                                font-weight: 300;

                                .ninja-forms-req-symbol {
                                    color: #cc0000;
                                }
                            }
                        }
                        .nf-field-element {
                            input, select, textarea {
                                background-color: transparent;
                                padding: 15px 20px;
                                border: 1px solid #CFD4D3;

                                &::-webkit-input-placeholder {
                                    color: @white;
                                    font-weight: 300;
                                }
                                &:-moz-placeholder {
                                    color: @white;
                                    font-weight: 300;
                                    opacity:  1;
                                }
                                &::-moz-placeholder {
                                    color: @white;
                                    font-weight: 300;
                                    opacity:  1;
                                }
                                &:-ms-input-placeholder {
                                    color: @white;
                                    font-weight: 300;
                                }
                                &::-ms-input-placeholder {
                                    color: @white;
                                    font-weight: 300;
                                }
                                &::placeholder {
                                    color: @white;
                                    font-weight: 300;
                                }
                            }
                            textarea {
                                resize: none;
                            }
                        }
                    }

                    .nf-before-field {
                        display: none;
                    }
                    .nf-after-field {
                        .nf-input-limit {
                            display: none;
                        }
                        .nf-error-msg {
                            color: #cc0000;
                            font-size: 12px;
                            text-align: left;
                            margin: 0;
                        }
                    }
                }
            }
            .nf-after-form-content {
                .nf-error-msg {
                    color: #cc0000;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}